<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FoodKart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf='!isAuthenticated'>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink='login'>Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink='signup'>Signup</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf='isAuthenticated'>
      <li class="nav-item active">
        <a class='nav-link' href='#' routerLink='recipes'>Recipes</a>
      </li>
      <li class="nav-item active">
        <a class='nav-link' href='#' routerLink='shopping-list'>Shopping List</a>
      </li>
    </ul>
    <ul clss="navbar-nav ml-auto" *ngIf="isAuthenticated">
        <a class='nav-link' href='#' style='color:black' (click)='onLogout()'>Logout</a>
    </ul>
  </div>
</nav>
