<div class='container'>
  <div class='row'>
    <div class="col-md-2">
      <button type='button' class='btn btn-success' (click)='onNavigate()'>New Recipe</button>
    </div>
    <div class="col-md-2">
      <button type='button' class='btn btn-danger' (click)='onDelete()'>Delete Recipe</button>
    </div>
  </div>
    <div class="row">
      <div class="col-md-5 col-xs-5 col-lg-5 col-xl-5 align">
        <ul class='list-group' *ngIf='recipes'>
          <li class='list-group-item' *ngFor='let recipe of recipes;let i=index'
          [ngStyle]="{'background-color':recipe['_id']===ind?'blue':'white'}"
          (click)='getRecipe(recipe["_id"]);selectedElement(recipe["_id"])'>
              <div class='float-left'>
                <h6>{{recipe.heading}}</h6>
                <p>{{recipe.content}}</p>
              </div>
              <span class='float-right image-content'>
                <img [src]="recipe.imagePath" [alt]='recipe.heading' class="img-responsive" style="max-height: 50px;">
              </span>
          </li>
        </ul>
        <p *ngIf='!recipes'>Please create a new recipe!</p>
      </div>
      <div class="col-md-6 col-xs-6 col-lg-6 col-xl-6 right-align">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
