<form (ngSubmit)='onSubmit(f)' #f='ngForm'>
  <div class="row">
      <div class="col-md-3 form-group">
        <label for='name'>Ingredient Name</label>
        <input type='text' id='name' name='name'
         [(ngModel)]=ingredient.ingName class='form-control' *ngIf='ingredient;else noName'>
         <!-- value='{{ingredient.ingName}}' -->
         <ng-template #noName>
          <input type='text' id='name' name='name' placeholder="Enter Ingredient Name"
          ngModel class='form-control'>
         </ng-template>
      </div>
      <div class="col-md-2 form-group">
        <label for='amount'>Amount</label>
        <input type='number' id='amount' name='amount'
        [(ngModel)]=ingredient.ingAmount class='form-control' *ngIf='ingredient;else noAmount'>
        <ng-template #noAmount>
          <input type='number' id='amount' name='amount' placeholder="Enter Amount" ngModel class='form-control'>
        </ng-template>
      </div>
    </div>
  <div class='row'>
    <div class="col-md-3 form-group">
      <button type='submit' class='btn btn-success mr-1'>{{editmode ? 'Update' : 'Add'}}</button>
      <button type='button' class='btn btn-danger' (click)='onDeleteIngredient()'>Delete</button>
      <button type='button' class='btn btn-primary ml-1' (click)='clearIngredient()' *ngIf='editmode'>Clear</button>
    </div>
  </div>
</form>
